* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* off convaes start */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}



.offcanves-ham {
    display: none;
}


.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;

}

.off-links {
    padding: 20px 50px;
}

.off-main {
    font-size: 50px !important;
    font-weight: 400;
    border-bottom: 1px solid gray;
    width: 100%;
}

.l-p {
    padding-left: 20px !important;
}

.links {
    border-bottom: 1px solid gray;
    width: 100%;
}

.links:hover {
    color: #C8385E !important;
}

.sidenav a:hover {
    color: #f1f1f1;
}



.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 50%;
    font-size: 36px;
    margin-left: 50px;

}

/* off convaes end */


.hero-section {
    background-image: url(img/madhu-shesharam-390606-unsplash.jpg);
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    z-index: 10;
    padding: 0px 0px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logos {
    padding: 0px;
}

.nav-logo img {
    width: 210px;
    height: 70px;
    padding: 15px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.main-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav {
    background-color: #3333334f;
}

.menu-btn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}

.topnav .menu-btn a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.nav-span {
    font-size: 12px;
    color: gray;
}

.nav-span:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);

}

.topnav .menu-btn a:hover {
    border-bottom: 2px solid #C8385E;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropbtn {
    color: #f2f2f2;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px !important;
    font-weight: 600;
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000a6;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.hero-sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 100px;
}

.hero-sec2 h2 {
    font-size: 2rem;
    font-size: 60px;
}

.hero-sec2 p {
    font-size: 14px;
}

.apple-btn {
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 17px 40px;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px;
}

.google-btn {
    border: 2px solid #C8385E;
    background: #C8385E;
    color: white;
    padding: 17px 40px;
    font-size: 18px;
    border-radius: 5px;
}

.apple-btn i {
    margin-right: 10px;
}

.google-btn i {
    margin-right: 10px;
}

.apple-btn:hover {
    background-color: white;
    color: black;
}

.google-btn:hover {
    border: 2px solid #ffffff;
    background-color: white;
    color: black;
}



.hero-mobile {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 70px;
}

.mob-img {
    overflow: hidden;
}

.mob-img img {
    position: absolute;
    width: 310px;
    height: 655px;
    border-radius: 20px;
    left: 12px;
    top: 20px;
    z-index: -1;
}

.mob-tab1 {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 50px;
}

.mob-tab1 i {
    font-size: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin: 10px;
}

.mob-tab1 i:hover {
    border: 2px solid #C8385E;
    background-color: #C8385E;
    color: black;
}

.tab1-con {
    padding-top: 20px;
}

.tab1-con h5 {
    font-size: 20px;
}

.tab1-con p {
    width: auto;
    color: rgb(228, 217, 217);
}

.mob-img {
    position: relative;
    background-image: url(img/f3c3c0f976d1f254ecdce99ccabe9819-removebg-preview.png);
    width: 341px;
    height: 690px;
    background-position: center;
    background-size: cover;
}

.tab-sec2 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.tab-sec2 p {
    text-align: end;
}

.mob-sec3 {
    display: flex;
    flex-direction: row-reverse;
}


.tab {
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
    background-color: transparent;
}

.tab22 {
    display: none;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;

}

.tabs-fun {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 70px;
}



/* section 3 start */
.section3-main {
    height: auto;
    background-color: #F2F2F2;
    padding: 50px;
}

.sec3-contants {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.sec3-con1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.sec3-con1 i {
    border: 1px solid #C8385E;
    color: #C8385E;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3-con1:hover i {
    background-color: #C8385E;
    color: #ffffff;
    transition: 0, 5s ease;
}

.sec3-p {
    font-size: 18px;
    font-weight: 600;
}

.sec3-span {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}

/* section 3 END */

/* section 4 start */
.section4-main {
    height: auto;
    display: flex;
    align-items: center;
    padding: 130px 0px;

}

.sec4-contants {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.sec4-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec4-con h3 {
    font-size: 60px;
    width: 70%;
    color: #000000;
}

.sec4-con p {
    font-size: 14px;
    color: gray;
    width: 70%;
}

.sec4-btn1 {
    border: 1px solid gray;
    color: gray;
}

.sec4-btn1:hover {
    background-color: gray;
    color: white;
}

.sec4-btn2:hover {
    background-color: gray;
    color: white;
}

.sec4-imgages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec4-img1 {
    position: relative;
    height: auto;
    width: 260px;
    left: 150px;
    transform: rotate(-30deg) skew(25deg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    top: 10px;
    left: 210px;
    transition: 1s ease;
    box-shadow: -5px 5px 5px rgb(92, 91, 91);
    border-radius: 10px;
}

.sec4-img1:hover {
    left: 170px;
    top: 20px;
    transition: 1s ease;
}

.sec4-img2 {
    position: relative;
    height: auto;
    width: 260px;
    left: 150px;
    transform: rotate(-30deg) skew(25deg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    left: 0px;
    top: -40px;
    transition: 1s ease;
    box-shadow: -5px 5px 5px rgb(92, 91, 91);
    border-radius: 10px;
}

.sec4-img2:hover {
    left: -40px;
    top: -20px;
    transition: 1s ease;
}

.sec4-img1 img {
    width: 200px;
    height: 320px;
    border-radius: 10px;
}

.sec4-img2 img {
    width: 200px;
    height: 320px;
    border-radius: 10px;
}

.sec4-img3 img {
    width: 200px;
    height: 320px;
    border-radius: 10px;
}

.sec4-img3 {
    position: relative;
    height: auto;
    width: 260px;
    left: 150px;
    transform: rotate(-30deg) skew(25deg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    left: -200px;
    top: -70px;
    box-shadow: -5px 5px 5px rgb(92, 91, 91);
    border-radius: 10px;
}

/* section 4 end */

/* section 5 start */
.section5-main {
    background-color: #EEEEEE;
    height: auto;
    position: relative;
    z-index: 2;
    padding: 100px 0px;
}

.sec5-contents {
    display: grid;
    grid-template-columns: 50% 50%;
}

.sec5-con1 {
    height: 500px;
}

.sec5-img {
    background-image: url(img/iphone-6-png-transparent-2-removebg-preview.png);
    position: relative;
    width: 370px;
    height: 550px;
    background-position: center;
    background-size: cover;
    top: 10px;
    z-index: -2;
}

.sec5-img img {
    position: absolute;
    top: 96px;
    left: 85px;
    width: 185px;
    height: 350px;
    z-index: -1;
}

.sec5-img2 {
    background-image: url(img/f3c3c0f976d1f254ecdce99ccabe9819-removebg-preview.png);
    width: 400px;
    height: 600px;
    position: relative;
    background-position: center;
    background-size: cover;
    top: -560px;
    left: 100px;
}

.slide11 {
    position: relative;
    left: 60px;
    top: 20px;
    width: 270px;
    height: 570px;
    z-index: -1;
}

.slider-inn img {
    width: 150px;
    height: 570px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.sec5-con2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.sec5-con2 h3 {
    font-size: 50px;
    color: rgb(65, 65, 65);
    align-items: center;
    display: flex;
    justify-content: center;
}

.acc-item {
    margin: 10px 0px;
}

.acc-btn {
    position: relative;
    left: 20px;
    bottom: 10px;
    font-size: 14px;
    padding: 10px;
    border: none;
    background-color: #C8385E;
    color: #ffffff;
    border-radius: 5px;

}

.accordion-button:not(.collapsed) {
    color: #C8385E;
    background-color: #f4f4f5;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}


.acc-btn:hover {
    background-color: gray;
}

/* section 5 end */

/* section 6 start */
.section6-main {
    background-image: url(img/mountain2.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 100px 0px;
}

.section6-main h2 {
    color: #EEEEEE;
    font-size: 45px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec6-slider .slick-dots li.slick-active button:before {
    color: #C8385E !important;
}

.sec6-slider .slick-prev:before {
    content: '';
}

.sec6-slider .slick-next:before {
    content: '';
}

.sec6-slider .slick-slider {
    margin: 0 -25px;
    margin-top: 70px;
}

.sec6-slider .slick-slide {
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}

.main-img-sec6 {
    height: 100%;
    width: 100%;
}

/* section 6 end */

/* section 7 start */
.section7-main {
    padding: 50px 30px;
}

.cr-inner {
    padding: 50px 0px;
}

.cr-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cr-item1 i {
    color: #C8385E;
    border: 1px solid #c8385e;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
}

.cr-item1 p {
    font-size: 20px;
    width: 70%;
    text-align: center;
    font-weight: 100;
    color: gray;
    margin: 10px 0px;
}

.sec7-con {
    display: flex;
    align-items: center;
}

.sec7-con img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.sec7-con p {
    font-size: 14px;
    color: #C8385E;
}

.sec7-span {
    color: gray;
    font-size: 10px;
}

.sec7-ind {
    background-color: #C8385E !important;
}

.carousel-control-prev-icon {
    display: none;
}

.carousel-control-next-icon {
    display: none;
}


/* section 7 end */

/* section 8 start */
.section8-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EEEEEE;
    padding: 85px 0px;
}

.section8-main h2 {
    font-size: 50px;
    color: #000000;
    margin-bottom: 40px;
}

.sec8--main-card {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: center;
}

.sec8-card1 {
    width: 90%;
}

.sec8-img {
    background-image: url(img/men.jpg);
    width: 100%;
    height: 241px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
}

.sec8-img:hover {
    background-image: url(img/5237755517_46ea63fd38_o.jpg);
    transition: 0.5s ease;
}

.sec8-img1 {
    background-image: url(img/women.jpg);
    width: 100%;
    height: 241px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
}

.sec8-img1:hover {
    background-image: url(img/5475339965_b19efacaa7_o.jpg);
    transition: 0.5s ease;
}

.sec8-img2 {
    background-image: url(img/boy2.jpg);
    width: 100%;
    height: 241px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
}

.sec8-img2:hover {
    background-image: url(img/boy.jpg);
    transition: 0.5s ease;
}

.sec8-con {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.sec8-con h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #222121;
}

.sec8-con h3 span {
    font-size: 12px;
    font-weight: 500;
    color: rgb(73, 71, 71);
}

.sec8-con p {
    font-size: 12px;
}

.sec8-social i {
    font-size: 10px;
    border: 1px solid gray;
    padding: 10px;
    color: #000000;
    border-radius: 3px;
}

.sec8-social i:hover {
    background-color: gray;
    color: #EEEEEE;
}

/* section 8 end */

/* section 9 start */
.section9-main {
    background-image: url(img/madhu-shesharam-390606-unsplash.jpg);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    /* padding-top: 50px; */
}

.sec9-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec9-con h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.sec9-con p {
    font-size: 12px;
}

.sec9-btn1 {
    padding: 12px 20px;
    font-size: 15px;
}

.sec9-btn2 {
    padding: 12px 20px;
    font-size: 15px;
}

/* section 9 end */

/* section 10 start */

.section10-main {
    height: auto;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}

.section10-main h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

.sec10-main-p {
    font-size: 12px;
    margin-bottom: 30px;
}

.sec10-img {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.sec10-row2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}



.sec10-img1 {
    width: 540px;
    height: 258px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    /* transition: 0.5s all ease-in-out; */
}

.sec10-img1 img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.sec10-img1:hover .main-img {
    transform: scale(1.2);
}

.sec10-img2 {
    /* background-image: url(img/watch.jpg);
    background-position: center;
    background-size: cover; */
    width: 269.90px;
    height: 258px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.sec10-img2 .main-img2 {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.sec10-img2:hover .main-img2 {
    transform: scale(1.2);
}

.sec10-img3 {
    background-image: url(img/miniphone.jpg);
    background-position: center;
    background-size: cover;
    width: 258px;
    height: 258px;

}

.sec10-img4 {
    background-image: url(img/laptop.jpg);
    background-position: center;
    background-size: cover;
    width: 258px;
    height: 258px;

}

.sec10-overlay {
    position: absolute;
    bottom: -47px;
    width: 100%;
    height: 100px;
    background-color: #0000009f;
    padding-left: 10px;
    transition: 0.5s ease;
    padding-bottom: 30px;
}

.sec10-overlay:hover {
    bottom: 0px;
    transition: 0.5s ease;
}

.sec10-inner-img {
    color: #ffffff;
    display: flex;
    align-items: center;

}

.sec10-inner-img .p1 {
    position: relative;
    /* padding-bottom: 10px; */
    font-size: 16px;
    line-height: 2;
}

.sec10-inner-img .p1:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0px;
    height: 3px;
    width: 40px;
    max-width: 90%;
    background-color: #eee;
    background-color: rgba(255, 255, 255, .8);
    transition: all .2s ease;
}

.sec10-inner-img img {
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    margin-right: 10px;
}

.se10-reating i {
    color: #C8385E;
}

.sec10-p2 {
    color: #EEEEEE;
    font-size: 12px;
}



/* section 10 end */

/* section 11 start */
.section11-main {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}

.sec11-main-heading {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

.sec11-main-heading:before {
    content: '';
    position: absolute;
    bottom: -5px;
    /* left: 0px; */
    height: 3px;
    width: 40px;
    max-width: 90%;

    background-color: #C8385E;
    transition: all .2s ease;
}

.sec11-cards {
    display: flex;
    margin: 20px 0px;
}

.sec11-card1 {
    width: 400px;
    height: 238px;
    position: relative;
    overflow: hidden;

}

.sec11-card1 img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.sec11-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c8385ea6;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 290px;
    color: #EEEEEE;
    font-size: 25px;
    transition: 0.5s ease;

}

.sec11-card1:hover .sec11-overlay {
    top: 0px;
    transition: 0.5s ease;
}

.sec11-contant {
    width: 70%;
    padding-left: 20px;
}

.sec11-cont-box1 {
    display: flex;
    font-size: 14px;
    align-items: center;
    /* justify-content: center; */
    color: rgb(66, 65, 65);
    margin-bottom: 20px;
}



.sec11-cont-box1 p {
    margin: 0;
    font-size: 12px;
    margin: 0px 10px;
}

.sec11-cont-box2 {
    width: 80%;
}

.sec11-cont-box2 h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.sec11-cont-box2 p {
    font-size: 14px;
    margin-bottom: 20px;

}

.sec11-box2-btn {
    font-size: 10px;
    border: 1px solid gray;
    padding: 8px 12px;
    border-radius: 3px;
}

.sec11-box2-btn:hover {
    background-color: gray;
    color: white;
    transition: 0.5s ease;
}

/* section 11 end */

/* section 12 start */

.section12-main {
    background-image: url(img/madhu-shesharam-390606-unsplash.jpg);
    background-position: top;
    background-size: cover;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec12-icon-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sec12-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EEEEEE;
}

.sec12-icons i {
    font-size: 25px;
    /* padding: 25px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 10px;
}

.sec12-icons i:hover {
    background-color: #C8385E;
    color: #EEEEEE;
    border: 1px solid #C8385E;
    transition: .5s ease;
}

.sec12-icons p {
    font-size: 14px;
    font-weight: 600;
}

/* section 12 end */

/* section 13 start */
.section13-main {
    background-color: white;
    padding: 100px 0px;
}


.sec13-main-heading {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333131;
    position: relative;
    margin-bottom: 50px;
}

.sec13-main-heading:before {
    content: '';
    position: absolute;
    bottom: -5px;
    /* left: 0px; */
    height: 3px;
    width: 40px;
    max-width: 90%;

    background-color: #C8385E;
    transition: all .2s ease;
}

.sec13-p2 {
    align-items: baseline;
    justify-content: flex-start;
    display: flex;
    text-align: left;
    font-size: 12px;
    color: white;
    margin-top: 5px;
}

.sec13-row .slick-dots li.slick-active button:before {
    color: #C8385E !important;
}

.sec13-row .slick-prev:before {
    display: none;
    color: #000000;
}

.sec13-row:hover .slick-prev:before {
    display: block;
}

.sec13-row .slick-next:before {
    display: none;
    color: #000000;
}

.sec13-row:hover .slick-next:before {
    display: block;
}

.sec13-row .slick-slider {
    margin: 0 -25px;
    margin-top: 70px;
}

.sec13-row .slick-slide {
    padding: 0px;

    background-color: transparent;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}


/* section 13 end */

/* section 14 start */
.section14-main {
    background-image: url(img/mountain2.jpg);
    background-position: top;
    background-size: cover;
    padding: 100px 200px;
}

.sec14-contant {
    display: grid;
    grid-template-columns: 50% 50%;
    /* padding: 0px 50px; */
}

.sec14-main-heading {
    font-size: 45px;
    color: #EEEEEE;
    position: relative;
    margin-bottom: 50px;
    /* padding-left: 50px; */
}

.sec14-main-heading:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0px;
    height: 3px;
    width: 40px;
    max-width: 90%;

    background-color: #faf9f9;
    transition: all .2s ease;
}

.sec14-cont-para {
    font-size: 12px;
    color: #fffbfb;
    font-weight: 600;
    width: 90%;
}

.sec14-progress {
    padding: 0 20px;
}

.sec14-pro1 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 30px;
    color: #eee;
    border-radius: 3px;
    font-size: 10px;
    margin-bottom: 10px;
}

.sec14-pro-overlay1 {
    background-color: #C8385E;
    height: 100%;
    width: 80%;
    border-radius: 3px;
    padding-left: 15px;
    padding-top: 7px;
}

.sec14-pro-overlay2 {
    background-color: #C8385E;
    height: 100%;
    width: 70%;
    border-radius: 3px;
    padding-left: 15px;
    padding-top: 7px;
}

.sec14-pro-overlay3 {
    background-color: #C8385E;
    height: 100%;
    width: 50%;
    border-radius: 3px;
    padding-left: 15px;
    padding-top: 7px;
}

.sec14-pro-overlay4 {
    background-color: #C8385E;
    height: 100%;
    width: 90%;
    border-radius: 3px;
    padding-left: 15px;
    padding-top: 7px;
}

/* section 14 end */

/* section 15 start */
.section15-main {
    padding: 50px 200px;
}

.sec15-contant {
    display: flex;
    align-items: center;

}

.sec15-con-box1 {
    display: flex;
    align-items: center;
}

.sec15-con-box1 i {
    border: 1px solid #C8385E;
    color: #C8385E;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 20px;
}

.sec15-con-box1 i:hover {
    background-color: #C8385E;
    color: #eee;
}

.sec15-span {
    font-size: 14px;
    font-weight: 500;
}

.sec15-con-box1 p {
    font-size: 12px;
    width: 80%;
    color: #504e4e;
    padding: 0;
    margin: 0;
}

.sec15-btn {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #C8385E;
    color: #eee;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
}

.sec15-btn:hover {
    background-color: gray;
}

/* section 15 end */

/* section 16 start */
.section16-main {
    background-color: #333131;
    padding: 100px 100px;
}

.footer-main {
    display: grid;
    grid-template-columns: 22% 22% 22% 23%;
    gap: 30px;
}

.box1-heading {
    font-size: 18px;
    color: #EEEEEE;
    position: relative;
    margin-bottom: 20px;
}

.box1-heading:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0px;
    height: 3px;
    width: 40px;
    max-width: 90%;

    background-color: #faf9f9;
    transition: all .2s ease;
}

.footer-logo {
    width: 90%;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.box1-para {
    color: #eee;
    font-size: 12px;
}

.box1-btn {
    font-size: 12px;
    border: 1px solid white;
    color: #EEEEEE;
    background-color: transparent;
    border-radius: 3px;
    padding: 7px 20px;
}

.box1-btn:hover {
    background-color: #EEEEEE;
    color: #333131;

}

.footerbox2 {
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
}

.box2-card {
    display: flex;
    align-items: center;

}

.box2-imgsec {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.box2-img {
    width: 100%;
    height: 100%;
}

.box2-overlay {
    background-color: #c8385e94;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 290px;
    font-size: 30px;
    transition: 1s ease;
}

.box2-imgsec:hover .box2-overlay {
    top: 0;
    transition: .5s ease;
}

.box2-para {
    font-size: 12px;
    font-weight: 600;
    color: #EEEEEE;
    margin: 0;
}

.box2-span {
    font-size: 10px;
    font-weight: 400;
    color: #b8b4b4;
}

.box3-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin-top: 30px;
}

.box3-btn {
    background-color: transparent;
    font-size: 12px;
    border: 1px solid white;
    padding: 5px 10px;
    color: #eee;
}

.box3-btn:hover {
    background-color: #222121;
    border: 1px solid #222121;
}

.box4-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
}

.box4-images img {
    width: 80px;
    height: 80px;
}

.footer2 {
    background-color: #141313;
    padding: 30px 0px;
}

.footer2-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer2-box p {
    color: #eee;
    margin: 0;
}

.footer2-icons {
    display: flex;
}

.footer2-icons i {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    margin-right: 10px;
}

.footer2-icons i:hover {
    background-color: #eee;
    color: #141313;
}

/* section 16 end */

/* Resposive */
@media screen and (max-width: 1280px) {

    .sec10-img1 {
        width: 512px;
        height: 250px;
    }

    .sec10-img2 {
        width: 256px;
        height: 250px;
    }
}

@media screen and (max-width: 1024px) {
    .tab1-con h5 {
        font-size: 18px;
    }

    /* .mob-img img {
        left: 355px;
    } */

    .sec4-con h3 {
        font-size: 55px;
    }

    .sec10-img1 {
        width: 408px;
        height: 230px;
    }

    .sec10-img2 {
        width: 204px;
        height: 230px;
    }

    .section14-main {
        padding: 100px 50px;
    }

    .box2-imgsec {
        width: 77px;
        height: 77px;
    }

    .box4-images img {
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 920px) {
    .nav-logo img {
        width: 150px;
    }

    .dropbtn {
        font-size: 12px !important;
    }

    .dropp-manu {
        background-color: #c8385ec2 !important;
        margin-top: 15px !important;
    }

    .lang-ser {
        display: none !important;
    }

    .mob-img {
        width: 230px;
        height: 450px;
    }

    .mob-img img {
        width: 205px;
        height: 420px;
        top: 15px;
    }

    .mob-tab1 i {
        width: 60px;
        height: 60px;
    }

    .tab1-con h5 {
        font-size: 12px;
    }

    .tab1-con p {
        font-size: 10px;
    }

    .sec3-p {
        font-size: 14px;
    }

    .sec4-con h3 {
        font-size: 40px;
    }

    .sec4-imgages {
        position: relative;
        right: -40px;
    }

    .sec5-img {
        width: 200px;
        height: 450px;
    }

    .sec5-img img {
        top: 77px;
        left: 18px;
        width: 175px;
        height: 289px;
    }

    .sec5-img2 {
        width: 220px;
        height: 450px;
    }

    .slider-inn {
        width: 74% !important;
    }

    .slider-inn img {
        height: 420px;
    }

    .slide11 {
        left: 10px;
    }

    .sec5-img2 {
        top: -450px;
        left: 70px;
    }

    .sec5-con2 {
        margin-bottom: 15px;
    }

    .sec5-con2 h3 {
        text-align: center;
    }

    .sec8-card1 {
        width: 100%;
    }

    .sec8--main-card {
        gap: 20px;
    }

    .sec10-img1 {
        width: 367px;
        height: 200px;
    }

    .sec10-img2 {
        width: 183px;
        height: 200px;
    }

    .section15-main {
        padding: 50px 50px;
    }

    .sec15-con-box1 p {
        width: 70%;
    }

    .sec15-btn {
        width: 240px;
        height: 45px;
    }

    .box3-buttons {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 820px) {
    .sec4-img1 {
        top: 145px;
        left: 125px;
    }

    .sec4-img1 img {
        width: 180px;
        height: 295px;
    }

    .sec4-img2 {
        left: -60px;
        top: 45px;
    }

    .sec4-img2 img {
        width: 180px;
        height: 295px;
    }

    .sec4-img3 {
        left: -235px;
        top: -60px;
    }

    .sec4-img3 img {
        width: 180px;
        height: 295px;
    }

    /* .sec4-img1:hover {
        left: 170px;
        top: 20px;
    } */
    /* .sec4-img1:hover {
        left: 0px;
        top: 0px;
    } */
    .sec10-img1 {
        width: 320px;
        height: 190px;
    }

    .sec10-img2 {
        width: 160px;
        height: 190px;
    }

    .section16-main {
        padding: 100px 20px;
    }

    .box4-images {
        gap: 5px;
    }

    .box4-images img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .sidenav {
        display: block;
    }


    .offcanves-ham {
        display: block;
    }

    .topnav .menu-btn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav1.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .sec10-img1 {
        width: 309px;
        height: 180px;
    }

    .sec10-img2 {
        width: 153px;
        height: 180px;
    }

    .sec10-inner-img .p1 {
        font-size: 13px;
    }

    .sec4-imgages {
        right: -32px;
    }

}

@media screen and (max-width: 540px) {
    .sm-non {
        display: none;
    }

    .tab22 {
        display: block;
    }

    .hero-sec2 h2 {
        font-size: 50px;
        text-align: center;
    }

    .tabs-fun {
        display: grid;
        grid-template-columns: 70% 30%;
        margin-top: 70px;
        align-items: center;
        justify-content: center;
    }

    .tabs-direction {
        display: flex;
        flex-direction: column-reverse;
    }

    .mob-sec3 {
        flex-direction: row;
    }

    .tab1-con p {
        display: none;
    }

    .tab-sec2 {
        align-items: flex-start;
    }

    .mob-tab1 i {
        width: 50px;
        height: 50px;
    }

    .mob-tab1 {
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .mob-img {
        width: 100%;
        height: 600px;
    }

    .mob-img img {
        width: 263px;
        height: 559px;
        top: 22px;
        left: 40px;
    }

    .sec3-contants {
        grid-template-columns: auto;
    }

    .sec4-contants {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        row-gap: 100px;
    }

    .sec4-con h3 {
        font-size: 50px;
        width: 100%;
    }

    .sec4-imgages {
        display: flex;
        flex-direction: row;
        right: -150px;
        width: 60%;
    }

    .sec5-contents {
        grid-template-columns: 100%;
    }

    .sec5-img {
        width: 400px;
        height: 485px;
    }

    .sec5-img img {
        top: 72px;
        left: 104px;
        width: 188px;
        height: 335px;
    }

    .sec5-img2 {
        top: -490px;
        left: 70px;
    }

    .sec5-img2 {
        width: 87%;
        height: 500px;
    }

    .slider-inn {
        height: 500px;
        left: 103px;
        width: 82% !important;
    }

    .slider-inn img {
        height: 470px;
    }

    .sec8--main-card {
        grid-template-columns: 100%;
    }

    .sec8-img {
        height: 355px;
    }

    .sec8-img1 {
        height: 355px;
    }

    .sec8-img2 {
        height: 355px;
    }

    .sec9-con p {
        text-align: center;
    }

    .sec10-img {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .sec10-img1 {
        width: 100%;
        height: 180px;
    }

    .sec10-img2 {
        width: 100%;
        height: 180px;
    }

    .sec10-row2 {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .sec10-d-n {
        display: none;
    }

    .sec11-cards {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }

    .sec11-card1 {
        width: 100%;
    }

    .sec11-contant {
        width: 100%;
        padding: 10px 0px;
    }

    .sec12-icon-box {
        flex-direction: column;
    }


    .section14-main {
        padding: 100px 10px;
    }

    .sec14-contant {
        display: grid;
        grid-template-columns: 100%;
        /* padding: 0px 50px; */
    }

    .sec14-progress {
        padding: 0 0px;
    }


    .section15-main {
        padding: 50px 0px;
    }

    .sec15-contant {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    .sec15-con-box1 {
        margin-bottom: 20px;
    }

    .sec15-btn {
        width: 150px;
        height: 45px;
    }

    .footer-main {
        display: grid;
        grid-template-columns: 100%;
        gap: 30px;
    }

    .footer-logo {
        width: 65%;
    }

    .box4-images {
        gap: 15px;
    }

    .box4-images img {
        width: 100%;
        height: 100%;
    }

    .footer2-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media screen and (max-width: 430px) {
    .hero-sec2 p {
        font-size: 13px;
    }

    .google-btn {
        padding: 17px 25px;
    }

    .apple-btn {
        padding: 17px 25px;
    }

    .tabs-fun {
        display: grid;
        grid-template-columns: 100%;
    }

    .mob-img img {
        left: 50px;
        width: 272px;
    }

    .mob-tab1 {
        padding-left: 60px;
    }

    .sec4-img1 {
        top: 145px;
        left: 108px;
    }

    .sec4-img1 img {
        width: 168px;
        height: 270px;
    }

    .sec4-img2 img {
        width: 168px;
        height: 270px;
    }

    .sec4-img3 img {
        width: 168px;
        height: 270px;
    }

    .sec5-img {
        left: -40px;
    }

    .sec5-img2 {
        width: 85%;
    }

    .slider-inn {
        left: 50px;
    }

    .sec10-main-p {
        text-align: center;
    }

}

@media screen and (max-width: 390px) {
    .hero-sec2 p {
        font-size: 12px;
        text-align: center;
    }

    .apple-btn {
        padding: 17px 19px;
    }

    .google-btn {
        padding: 17px 19px;
    }

    .mob-img img {
        left: 33px;
    }

    .sec4-img1 {
        top: 145px;
        left: 80px;
    }

    .sec4-img2 {
        left: -70px;
        top: 45px;
    }

    .sec4-img1 img {
        width: 150px;
        height: 250px;
    }

    .sec4-img2 img {
        width: 150px;
        height: 250px;
    }

    .sec4-img3 img {
        width: 150px;
        height: 250px;
    }

    .sec5-img2 {
        width: 83%;
    }

    .slider-inn {
        left: 32px;
    }

    .section8-main h2 {
        text-align: center;
    }


}

@media screen and (max-width: 320px) {
    .logo img {
        height: 50px;
        width: 200px;
    }

    .hero-sec2 h2 {
        font-size: 45px;
    }

    .hero-sec2 p {
        font-size: 12px;
        text-align: center;
    }

    .apps-btn {
        display: contents;
    }

    .mob-img {
        width: 100%;
        height: 520px;
    }

    .mob-img img {
        width: 230px;
        height: 484px;
        top: 19px;
        left: 20px;
    }

    .mob-tab1 {
        padding-left: 22px;
    }

    .sec4-con h3 {
        font-size: 35px;
    }

    .sec4-imgages {
        right: -130px;
    }

    .sec4-img1 img {
        width: 130px;
        height: 212px;
    }

    .sec4-img2 img {
        width: 130px;
        height: 212px;
    }

    .sec4-img3 img {
        width: 130px;
        height: 212px;
    }

    .sec4-img1 {
        top: 145px;
        left: 60px;
    }

    .sec4-img2 {
        left: -70px;
        top: 45px;
    }

    .sec4-img3 {
        left: -205px;
        top: -60px;
    }

    .sec5-con2 h3 {
        font-size: 45px;
    }

    .sec5-img {
        width: 284px;
        height: 460px;
    }

    .sec5-img img {
        top: 79px;
        left: 57px;
        width: 165px;
        height: 293px;
    }

    .sec5-img2 {
        width: 75%;
        height: 442px;
        top: -448px;
    }

    .section6-main h2 {
        font-size: 35px;
    }

    .slide11 {
        width: 221px;
        height: 420px;
    }

    .slider-inn {
        height: 412px;
        left: 4px;
        width: 88% !important;
        top: -5px;
    }

    .slider-inn img {
        height: 415px;
    }

    .section8-main h2 {
        font-size: 35px;
    }

    .sec10-overlay {
        bottom: -55px;
    }

    .sec11-main-heading {
        font-size: 35px;
    }

    .sec13-main-heading {
        font-size: 35px;
    }

}